.about_apollo_section{
    height:100vh;
    width:180vw;
    // border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // overflow-x:scroll;
    position: relative;
    background-color:rgba(0,0,0,.3);
    background-image:url(../../assets/images/moon-background.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-blend-mode: overlay;
    // background-position: -200px 0%;
}
.about_apollo_container{
    height:95%;
    width:98.3%;
    // border:1px solid white;
    padding:100px;
    display:inline-flex;
    position:relative;
}
.test_sections{
    
    height:90%;
    width: 750px;
    // border: 1px solid white;
    margin:20px;
    // background-image: url(../../assets/images/apollo-1-patch.png);
    background-size:contain;
    background-repeat: no-repeat;
}
.section_title{
    font-family:'Oswald' sans-serif;
    text-transform: uppercase;
    font-weight:600;
    color:white;
    font-size:60px;
    letter-spacing: 25px;
    
    // position:absolute;
    // top:3%;
    // left:1%;
    // transform: translate(-50%, -50%)

}
.section_one{
    width:1200px;
    height:100%;
    display: flex;
    // border:1px solid pink;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.section_one_para{
    width:1000px;
    height:1000px;
    margin:10px;
    display:flex;
    flex-flow: row wrap;

}
.section_one_para p{
    font-weight:400;
    font-size:19px;
    margin-bottom:-5px;
}
.pull_quote{
    font-family: 'Oswald', sans-serif;
    color:white;
    font-size:75px;
    position:absolute;
    width:500px;
    top:50%;
    left:48%;
    letter-spacing: 3px;
    text-transform:uppercase;
    font-weight:600;
    // text-align: justify;
    transform: translate(-50%,-50%);
}
.quoter{
    font-family:'Oswald', sans-serif;
    color:white;
    width:400px;
    font-size:50px;
    font-weight:200;
}
// #img1{
//     background-image: url(../../assets/images/rocket-command-module.jpg);
//     background-size:contain;
//     background-repeat: no-repeat;
    
// }
#curve_arrow{
    position:absolute;
    top:19%;
    left:3%;
    width:120px;
    height:120px;
    background-image: url(../../assets/red-curve-arrow.svg);
    background-size:contain;
    background-repeat: no-repeat;
    transform: rotate(-20deg)
}
$rotate: 45deg;

#more_info {
  position: absolute;
  text-transform: uppercase;
  padding: 15px 45px 13px 30px;
  border: 0;
  bottom:3%;
  left:47.5%;
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5em;
  text-decoration: none;
  text-shadow: -1px -1px hsla(0, 0, 0, .4);
  word-break: break-all;
  background: hsla(0, 0, 0, .6);
  box-shadow: 
    inset 0 1px 2px 0 hsla(0, 0, 0, .3),
    inset 0 -1px 2px 0 hsla(200, 200, 200, .1);
  transition: 
    background linear .2s,
    box-shadow linear .2s;
  
  &::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 32px;
    width: 8px;
    height: 8px;
    border: solid #fff;
    border-width: 3px 3px 0 0;
    transform: translateY(-50%) rotate($rotate);
    content: '';
    
    animation: bounce 1s linear infinite;
  }
  
  &:focus,
  &:hover {
    background: hsla(0, 0, 0, .3);
  }
  
  &:focus {
    box-shadow: 
      inset 0 1px 2px 0 hsla(0, 0, 0, .3),
      inset 0 -1px 2px 0 hsla(200, 200, 200, .1),
      0 0 4px 4px hsla(203, 65%, 46%, 1);
    outline: none;
  }
  
  &:active {
    box-shadow: 
    inset 0 1px 4px 0 hsla(0, 0, 0, .8),
    inset 0 -1px 2px 0 hsla(200, 200, 200, .1);
  }
}

// Animation
@keyframes bounce {
  0%, 100% {
    transform: translateY(-50%) rotate($rotate);
    animation-timing-function: cubic-bezier(.215, .61, .35, 1);
  }
  
  50% {
    transform: translateY(-50%) translateX(10px) rotate($rotate);
    animation-timing-function: cubic-bezier(.55, .055, .675, .19);
  }
}

.about_profile_header{
  font-family:'Oswald', sans-serif;
  font-weight:500;
  text-transform: uppercase;
  font-size:40px;
  letter-spacing: 10px;
  position: absolute;
  top:0;
  right:12%;
  color:rgba(237,32,36,.75);
  width:1000px;
  line-height: 50px;
  
}
.about_seq_main_container{
  position: relative;
  width:2500px;
  height:900px;
  // border:1px solid white;
  margin-left:100px;
  margin-right:50px;
  font-family:'Oswald', sans-serif;
  // background-color:rgba(0,0,0,.5)
}
.seq_text{
  font-weight:300;
  font-size:14px;
  color:white;
  max-width: 250px;
  width:250px;
  margin-top:15px;
}
.seq_container{
  position:absolute;
}
.seq_img{
  width:250px;
  height:165px;
}
#img1{
  background-image:url(../../assets/images/Apollo11-01.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#img2{
  background-image:url(../../assets/images/Apollo11-02.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#img3{
  background-image:url(../../assets/images/Apollo11-03.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#img4{
  background-image:url(../../assets/images/Apollo11-04.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#img5{
  background-image:url(../../assets/images/Apollo11-05.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#img6{
  background-image:url(../../assets/images/Apollo11-07.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#img7{
  background-image:url(../../assets/images/Apollo11-08.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#img8{
  background-image:url(../../assets/images/Apollo11-09.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#img9{
  background-image:url(../../assets/images/Apollo11-10.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#img10{
  background-image:url(../../assets/images/Apollo11-11.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#img11{
  background-image:url(../../assets/images/Apollo11-12.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#img12{
  background-image:url(../../assets/images/Apollo11-13.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#img13{
  background-image:url(../../assets/images/Apollo11-14.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#img14{
  background-image:url(../../assets/images/Apollo11-15.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#img15{
  background-image:url(../../assets/images/Apollo11-16.png);
  background-size:cover;
  background-repeat: no-repeat;
}
#seq1{
  top:2%;
  left:0%;
}
#seq2{
  top:2%;
  left:20%;
}
#seq3{
  top:2%;
  left:40%;
}
#seq4{
  top:2%;
  left:60%;
}
#seq5{
  top:2%;
  left:80%;
}
#seq6{
  top:34%;
  left:0%;
}
#seq7{
  top:42%;
  left:20%;
}
#seq8{
  top:42%;
  left:40%;
}
#seq9{
  top:42%;
  left:60%;
}
#seq10{
  top:42%;
  left:80%;
}
#seq11{
  top:74%;
  left:0%;
}
#seq12{
  top:74%;
  left:20%;
}
#seq13{
  top:74%;
  left:40%;
}
#seq14{
  top:74%;
  left:60%;
}
#seq15{
  top:74%;
  left:80%;
}
