/*************************************************************************
    npm Load Progress Bar
**************************************************************************/
#nprogress {
    pointer-events: none;
  }
  
  #nprogress .bar {
    background: none;
    position:absolute;
    z-index: 1031;
    top: 50%;
    left: 0;
  
    width: 100%;
    height: 5px;
  }
  
  /* Fancy blur effect */
  /* #nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
     box-shadow: 0 0 10px #29d, 0 0 5px #29d; 
    opacity: 1.0;
  
    -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
            transform: rotate(3deg) translate(0px, -4px);
  } */
  
  /* Remove these to get rid of the spinner */
  /* #nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
  }
  
  #nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;
  
    -webkit-animation: nprogress-spinner 400ms linear infinite;
            animation: nprogress-spinner 400ms linear infinite;
  }
  
  .nprogress-custom-parent {
    overflow: hidden;
    position: relative;
  }
  
  .nprogress-custom-parent #nprogress .spinner,
  .nprogress-custom-parent #nprogress .bar {
    position: absolute;
  }
  
  @-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */
  
/*************************************************************************
    Loading Page Styles
**************************************************************************/

.loading{
    display:flex;
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    // background-image: url(../../assets/images/loading-background.jpg);
    background-image:url(../../assets/images/astronaut-walk.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
    
    // background-position:-25%;
}
@keyframes fadeInPage {
    from {
        opacity: 0;
    }
    to {
        opacity:1;
    }
}
.fade_in_page {
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 2.5s;
    // animation-delay: 2s;

}
.fade_in_button {
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    // animation-delay: .5s;

}
.progress_bar{
    position:relative;
    height:10px;
    width:500px;
    border: solid 1px white;
}
.filler{
    background:white;
    height:100%;
    transition: width .2s ease-in;
}
.open-apollo{
    border:1px solid white;
    
    padding:15px;
    background:none;
    color:black;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size:1em;
    cursor: pointer;
    letter-spacing: 1px;
}
.a_mark{
    width:75px;
    height:75px;
    background-image: url(../../assets/images/a_mark.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top:40px;
    left:40px;
    opacity: .25;
}
// /**************************************************************************************
// Loading Screen Launch Button
// **************************************************************************************/
// *,
// *:after,
// *:before {
// 	box-sizing: border-box;
// }


// .hidden {
// 	position: absolute;
// 	width: 0;
// 	height: 0;
// 	overflow: hidden;
// 	pointer-events: none;
// }
// .box {
// 	padding: 4.5em 0;
// 	display: flex;
// 	flex-wrap: wrap;
// }

// /* Box colors */
// .bg-1 {
// 	background:none;
// 	color: #ffffff;
// }
// /* Common button styles */
// .button {
// 	float: left;
// 	min-width: 150px;
// 	max-width: 250px;
// 	display: block;
// 	margin: 1em;
// 	padding: 1em 2em;
// 	border: none;
// 	background: none;
// 	color: inherit;
// 	// vertical-align: middle;
// 	position: relative;
// 	z-index: 1;
// 	// -webkit-backface-visibility: hidden;
// 	-moz-osx-font-smoothing: grayscale;
// }
// .button:focus {
// 	outline: none;
// }
// .button > span {
// 	vertical-align: middle;
// }


// /* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
// .bg-1 .button {
// 	color: #fff;
// 	border-color: #ffffff;
// }
// .button--text-thick {
// 	font-weight: 600;
// }
// /* Itzel */
// .button--itzel {
// 	border: none;
// 	padding: 0px;
// 	overflow: hidden;
// 	width: 255px;
// }
// .button--itzel::before {
// 	content: '';
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	border: 2px solid;
// 	border-radius: inherit;
// 	-webkit-clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 35% 60%, 65% 60%, 65% 100%, 100% 100%, 100% 0%);
// 	clip-path: url(../Missions/Missions.js#clipBox);
// 	-webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
// 	transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
// 	-webkit-transform-origin: 50% 100%;
// 	transform-origin: 50% 100%;
// }

// .button--itzel.button--border-thin::before {
// 	border: 1px solid;
// 	-webkit-transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
// 	transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
// }
// .button--itzel.button--border-thick::before {
// 	border: 3px solid;
// 	-webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
// 	transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
// }

// .button--itzel::before,
// .button--itzel .button__icon {
// 	-webkit-transition: -webkit-transform 0.3s;
// 	transition: transform 0.3s;
// 	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
// 	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
// }
// .button--itzel .button__icon {
// 	position: absolute;
// 	top: 100%;
// 	left: 50%;
// 	padding: 20px;
// 	font-size: 20px;
// 	-webkit-transform: translate3d(-50%, 0, 0);
// 	transform: translate3d(-50%, 0, 0);
// }
// .button--itzel > span {
// 	display: block;
// 	padding: 20px;
// 	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
// 	transition: transform 0.3s, opacity 0.3s;
// 	-webkit-transition-delay: 0.3s;
// 	transition-delay: 0.3s;
// }
// .button--itzel:hover::before {
// 	-webkit-transform: translate3d(0, 0, 0);
// 	transform: translate3d(0, 0, 0);
// }
// .button--itzel:hover .button__icon {
// 	-webkit-transition-delay: 0.1s;
// 	transition-delay: 0.1s;
// 	transform: translate3d(-50%, -120%, 0);
// }
// .button--itzel:hover > span {
// 	opacity: 0;
// 	-webkit-transform: translate3d(0, -50%, 0);
// 	transform: translate3d(0, -50%, 0);
// 	-webkit-transition-delay: 0s;
// 	transition-delay: 0s;
// }

// #rocket-icon{
//     position:relative;
//     top:1000%;
//     z-index:100;
//     /* background-color:blue; */
//     /* top:0;
//     left:0; */
//     /* height:200px;
//     width:200px; */
//     transform: scale(.1) 
// }
// #rocket-icon svg{
//     margin-top:600px;
// }
/* #rocket-icon{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
} */