
.background-container{
    display: flex;
    // justify-content: center;
    align-items:center;
    height:100%;
    width:100%;
    overflow-x:scroll;
    position:relative;
}
.main-auth-container{
    width: 1200px;
    height: 800px;
    // background:rgba(9, 9, 80, 0.85);
    background:rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    transition: .75s;
}
.leave_comment_container, 
.update_comment_container,{
    width: 500px;
    height: 800px;
    // background:rgba(9, 9, 80, 0.85);
    background:rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    position:absolute;
    top:50%;
    left:70%;
    transform:translate(-50%, -50%);
    transition: .75s;
}
// .leave_comment_container, .update_comment_container{
//     width:500px;
//     position:absolute;
//     top:50%;
//     left:70%;
//     transform:translate(-50%,-50%);
// }
.hidden{
    opacity:0;
}
.vertical_line{
    width:1px;
    height:500px;
    border: 1px solid white;
}
.comment_card{
    width: 400px;
    height: 60%;
    background: white;
    opacity:.85;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    align-items:center;
    // border-radius:30px;
    box-shadow: 0 10px 30px white;
    margin:20px;
    padding:15px;
    // border:2px solid white;
}
.comment_title{
    font-family: 'bebas_neuebold';
    color:black;
    font-size:2em;
    letter-spacing: 6px;
}
.auth-container-inputs, 
.leave_comment_inputs,
.login_container_inputs{
    display: flex;
    flex-direction: column;
    width:400px;

    input{
        margin: 40px;
        padding:10px;
        border:none;
        border-bottom:1px solid white;
        background:none;
        font-family: 'bebas_neueregular';
        letter-spacing: 5px;
        color:white;
        font-size:1.3em;

        &:focus{
            border:1px solid white;
            outline:none;
            // opacity:.5;
        }
    }
    textarea{
        resize:none;
        outline:none;
        border:1px solid white;
        background:none;
        font-family: 'bebas_neueregular';
        letter-spacing: 5px;
        color:white;
        width:400px;
        height:400px;
    }
}
// .textarea_box{
//     width:20px;
//     height:20px;
// }
.close_login{
    width:25px;
    height:25px;
    background-image: url(../../assets/images/wrong-sign.png);
    background-size:contain;
    // display:none;
    filter: invert(100%);
    position:absolute;
    right:30px;
    top:30px;
}
.login_button, .leave_comment {
    position:absolute;
    top:20px;
    right:20px;
    background:none;
    border:none;
    font-family: 'bebas_neueregular';
    letter-spacing: 5px;
    font-size:1.2em;
    color:white;
    padding:5px;
    


    &:hover{
        cursor: pointer;
        border-bottom: 1px solid white;
        transition:.5s;
        opacity:.5;
    }
    &:focus{
        outline:none
    }
}
.leave_comment{
    right:200px;
}
.comment_carousel_container{
    height:100%;
    width:100%;
    display:inline-block;
    padding:100px;
}
.comment_carousel{
    height:500px;
    width:500px;
    background-color:blue;
    
}
