.background-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  position: relative;
  border: 1px solid white;
}

.main-auth-container {
  width: 1200px;
  height: 800px;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 9000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .75s;
}

.login_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.login_buttons {
  height: 35px;
  width: 150px;
  border: 1px solid white;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  background-color: transparent;
  text-align: center;
  vertical-align: center;
  padding: 10px;
}

.login_buttons:hover, .submit_comment:hover {
  background-color: white;
  opacity: .5;
  color: black;
  transition: .75s;
  cursor: pointer;
}

.register_info {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  top: 75px;
  position: absolute;
  color: white;
  font-size: 25px;
  letter-spacing: 1px;
}

.leave_comment_container,
.update_comment_container {
  width: 500px;
  height: 800px;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .75s;
}

.welcome_message {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.2em;
  color: white4;
  padding: 5px;
}

.hidden {
  opacity: 0;
}

.vertical_line {
  width: 1px;
  height: 400px;
  border: 1px solid white;
  opacity: .5;
}

.comment_card {
  width: 400px;
  height: 60%;
  background: white;
  opacity: .85;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 30px #ed2024;
  margin: 20px;
  padding: 15px;
  color: black;
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.comment_title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  font-size: 2em;
  letter-spacing: 6px;
  margin-top: 15px;
}

.auth-container-inputs,
.leave_comment_inputs,
.login_container_inputs {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.auth-container-inputs input,
.leave_comment_inputs input,
.login_container_inputs input {
  margin: 40px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  letter-spacing: 5px;
  color: white;
  font-size: 1.3em;
  width: 350px;
}

.auth-container-inputs input:focus,
.leave_comment_inputs input:focus,
.login_container_inputs input:focus {
  border: 1px solid white;
  outline: none;
}

.auth-container-inputs textarea,
.leave_comment_inputs textarea,
.login_container_inputs textarea {
  resize: none;
  outline: none;
  border: 1px solid white;
  background: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  letter-spacing: 5px;
  color: white;
  width: 400px;
  height: 400px;
}

.close_login {
  width: 25px;
  height: 25px;
  background-image: url(../../assets/images/wrong-sign.png);
  background-size: contain;
  filter: invert(100%);
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.login_button, .leave_comment {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 1.2em;
  color: white;
  padding: 5px;
  text-transform: uppercase;
}

.login_button:hover, .leave_comment:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
  transition: .5s;
  opacity: .5;
}

.login_button:focus, .leave_comment:focus {
  outline: none;
}

.leave_comment {
  right: 200px;
}

.comment_carousel_container {
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 100px;
}

.comment_carousel {
  height: 500px;
  width: 500px;
  background-color: blue;
}

.update_comment, .delete_comment, .submit_comment {
  background: none;
  border: 1px solid black;
  width: 150px;
  height: 40px;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px;
  font-size: 15px;
  letter-spacing: 3px;
}

.submit_comment {
  border: 1px solid white;
  color: white;
  width: 180px;
}

.comment_text {
  position: absolute;
  top: 20%;
  text-align: justify;
  margin-right: 30px;
}

.comment_name {
  color: black;
  position: absolute;
  top: 83%;
}

.comment_btn_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  position: absolute;
  top: 90%;
}
