.mission-tile{
    width:25vw;
    height:50vh;
    border:1px solid blue;
    background-color:blue;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}