
/*************************************************************************
    Mission Component Styles
**************************************************************************/

.missions{
  display: flex;
  flex-flow:row wrap;
  width:100vw;
  height:200vh;
  position:relative;
}
.mission_section_title{
  position: absolute;
  /* width:100px;
  height:100px; */
  text-transform:uppercase;
  font-size:120px;
  font-weight: 800;
  letter-spacing: 30px;
  color:darkred;
  z-index: 2000;
  top:0;
  left:4%;
  margin-top:-60px;
}
 /**************************************************************************************
 Loading Screen Launch Button
 **************************************************************************************/
*,
*:after,
*:before {
box-sizing: border-box;
}


.hidden {
position: absolute;
width: 0;
height: 0;
overflow: hidden;
pointer-events: none;
}
.box {
padding: 4.5em 0;
display: flex;
flex-wrap: wrap;
}

/* Box colors */
.bg-1 {
background:none;
color: #ffffff;
}
/* Common button styles */
.button {
float: left;
min-width: 150px;
max-width: 250px;
display: block;
margin: 1em;
padding: 1em 2em;
border: none;
background: none;
color: inherit;
/* // vertical-align: middle; */
position: relative;
z-index: 1;
/* // -webkit-backface-visibility: hidden; */
-moz-osx-font-smoothing: grayscale;
}
.button:focus {
outline: none;
}
.button > span {
vertical-align: middle;
}


/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
color: white;
border-color: #ffffff;
background-color:rgba(0,0,0,.5)
}
.button--text-thick {
font-weight: 800;
}
/* Itzel */
.button--itzel {
border: none;
padding: 0px;
overflow: hidden;
width: 255px;
}
.button--itzel::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: 2px solid;
border-radius: inherit;

/* clip-path: url(../Missions/Missions.js#clipBox); */

transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);

transform-origin: 50% 100%;
}

.button--itzel.button--border-thin::before {
border: 1px solid;
/* // -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0); */
transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
}
.button--itzel.button--border-thick::before {
border: 3px solid;
/* // -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0); */
transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
}

.button--itzel::before,
.button--itzel .button__icon {
/* // -webkit-transition: -webkit-transform 0.3s; */
transition: transform 0.3s;
/* // -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); */
transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--itzel .button__icon {
position: absolute;
top: 100%;
left: 50%;
padding: 20px;
font-size: 20px;
/* // -webkit-transform: translate3d(-50%, 0, 0); */
transform: translate3d(-50%, 0, 0);
}
.button--itzel > span {
display: block;
padding: 20px;
/* // -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; */
transition: transform 0.3s, opacity 0.3s;
/* // -webkit-transition-delay: 0.3s; */
transition-delay: 0.3s;
}
.button--itzel:hover::before {
/* // -webkit-transform: translate3d(0, 0, 0); */
transform: translate3d(0, 0, 0);
}
.button--itzel:hover .button__icon {
/* // -webkit-transition-delay: 0.1s; */
transition-delay: 0.1s;
transform: translate3d(-50%, -120%, 0);
}
.button--itzel:hover > span {
opacity: 0;
/* // -webkit-transform: translate3d(0, -50%, 0); */
transform: translate3d(0, -50%, 0);
/* // -webkit-transition-delay: 0s; */
transition-delay: 0s;
}

#rocket-icon{
  position:relative;
  top:1000%;
  z-index:100;
  /* background-color:blue; */
  /* top:0;
  left:0; */
  /* height:200px;
  width:200px; */
  transform: scale(.1) 
}
#rocket-icon svg{
  margin-top:600px;
}
/* #rocket-icon{
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
*/


/* .apollo_1{
height:200vh;
width:100vw;
border:25px solid #ed2024;
padding:30px;
}
.crew_list{
width:500px;
height:150px;
display: flex;
justify-content: space-evenly;
align-items:center;
margin-top: -30px;
margin-left: -40px;

}
.crew_list ul{
list-style: none;

}
.crew_line{
width:1px;
height:100px;
background-color:white;
}
.mission_titles{

font-size: 50px;
letter-spacing: 10px;

} */